<div class="nav-bar">
  <%= link_to "Wikinimous", articles_path %>
  <%= link_to "New article", new_article_path(@article) %>
</div>

<div class="container">
  <div class="article">
    <div class="article-head">
        <h1><%= @article.title %></h1>
        <%= link_to edit_article_path do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
        <%= link_to article_path(@article),
        data: { turbo_method: :delete, turbo_confirm: "Are you sure" } do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
    </div>
    <p><%= @article.content %></p>
  </div>
</div>
